.my_box{position:relative;}
.my_title{width:100%;height:2rem;background:#2F6AB8;color:#FFF;line-height:2rem;text-align:center;font-size:17px;position:fixed;top:0;z-index:999999999;}
.select_box{width:100%;height:2rem;background:#FCFCFC;display:flex; align-content:center;justify-content:space-around;font-size:15px;border-bottom:0.5px solid #e1e1e1;margin-top:2rem;}
.select_box div{height:2rem;line-height:2rem;}
.down_arrow{width:10px;}
.list_box{width:92%;height:3rem;display:flex;padding:10px 4%;align-items:center;justify-content:space-between;border-bottom:0.5px solid #e1e1e1;background:#FFF;}
.list_left{display:flex;flex-direction:column;}
.list_distance{height:100%;text-align:top;color:#2F6AB8;font-weight:500;padding-top:3px;}
.province{width:24px;height:24px;display:inline-block;background:#FF7000;text-align:center; line-height:24px;color:#FFF;border-radius:4px;font-family: PingFangSC, PingFa}
.province_name{font-size:18px;color:#333333;font-weight:700;margin-left:5px;}
.specific{margin-top:4px;display:inline-block;color:#666666;}
.select_box{position: relative;}
.DropDown{ position:absolute;left: 0; top: 4rem;bottom: 0;right: 0;background: rgba(0,0,0,0.2);width:100%;height:calc(100% - 4rem); z-index:999;display:none;}
.level_box{width:100%;max-height:18rem;overflow:scroll;background:#FFF;border-top:0.5px solid #cccccc;display:none;}
.level_list{width:100%;height:2.2rem;line-height:2.2rem;text-align:center;border-bottom:0.5px solid #cccccc;}
.region_box{width:100%;height:14rem;overflow:scroll;background:#FFF;border-top:0.5px solid #cccccc;position:relative;z-index:99999999;}
.region_button{display:flex;justify-content:space-around;position:absolute;bottom:10px;left:0;width:100%;}
.reset{width:8.5rem;text-align:center;text-align:center;line-height:2rem;height:2rem;background:#f6f6f6;color:#999999;font-family: PingFangSC, PingFangSC-Medium;font-weight: 500;}
.determine{width:8.5rem;text-align:center;text-align:center;line-height:2rem;height:2rem;background:#2F6AB8;color:#fff;font-family: PingFangSC, PingFangSC-Medium;font-weight: 500;}
.region_info{display:flex;z-index:99999999;position: relative;}
.one{width:33.2%;display:flex;flex-direction:column;max-height:10rem;overflow-x:auto;background: #ffffff;align-items:center;overflow-y:scroll;}
.one div{width:80%;text-align:center;border-bottom: 0.5px solid #e1e1e1;height:2rem;line-height:2rem;margin-left:10%;}
.two{width:33.2%;display:flex;flex-direction:column;max-height:10rem;overflow-x:auto;background:#fcfcfc;display:none;align-items:center;overflow-y:scroll;}
.two div{width:80%;text-align:center;border-bottom: 0.5px solid #e1e1e1;height:2rem;line-height:2rem;margin-left:10%;}
.three{width:33.2%;display:flex;flex-direction:column;max-height:10rem;overflow-x:auto;background: #f7f7f7;display:none;align-items:center;overflow-y:scroll;}
.three div{width:80%;text-align:center;border-bottom: 0.5px solid #e1e1e1;height:2rem;line-height:2rem;margin-left:10%;}
.my_box{overflow: hidden;}
/* 寻河css */
.tab3_box{width:100%;height:100%;background:#FFF;}
.map_img{width:100%;height:100%;}
.switch_box{display:flex;justify-content:space-around;padding:.36rem 0rem;font-size:14px;border-bottom:1px solid #e1e1e1;}
.my_rivers{width:3.5rem;height:1.3rem;line-height:1.3rem;text-align:center;font-size:14px;color: #333333;font-size:16px;font-family: PingFangSC, PingFa;}
.nearby_rivers{width:3.5rem;height:1.3rem;line-height:1.3rem;text-align:center;color:#FFF;color:#333333;font-size:16px;font-family: PingFangSC, PingFa;}
.seek_rivers_list{width:100%;}
.switch_box_next{position:fixed;width:100%;bottom: 53px;box-shadow: 5px -5px 13px 0px rgba(0,0,0,0.09);background-color: rgba(255,255,255,0.9);display:none;border-top-left-radius:5px;border-top-right-radius:5px;}
.switch_box_next_information{display:flex;justify-content:space-around;padding: .36rem 0 .36rem 1.2rem;border-bottom:1px solid #e1e1e1;align-items:center;}
.switch_box_next_information div{display:flex;flex-direction:column;align-items:center;}
.information_title{font-size:12px;color:#b3b4b8;}
.next_information_button{display:flex;justify-content:space-around;margin:20px 0;align-items:center;}
.next_information_button_one{width:4.5rem;text-align:center;line-height:1.5rem;height:1.5rem;color:#FFF;background:#41cb68;border-radius:18px;}
.next_information_button_two{width:4.5rem;text-align:center;line-height:1.5rem;height:1.5rem;color:#FFF;background:#FFA800;border-radius:18px;}
.switch_box_one{position:fixed;left:0;bottom:53px;;width:96%;margin-left:2%; background-color:rgba(255,255,255,0.9);box-shadow: 5px -5px 13px 0px rgba(0,0,0,0.09);border-top-left-radius:5px;border-top-right-radius:5px;}
.select_type{border-bottom:2px solid #2F6AB8;}
.state_box{width:58px;height:58px;display:flex;flex-direction:column;align-items:center;background:#FFA800;border-radius:50%;font-size:14px;color:#FFF;}
.state_box img{margin-left:2px;margin-top:5px;}
.end_box{width:58px;height:58px;display:flex;flex-direction:column;align-items:center;background:#276Ab8;border-radius:50%;font-size:14px;color:#FFF;}
.end_box img{margin-left:1px;margin-top:5px;}
.tab3_box_form{width:100%;background:#FFF;display:none;}
.form_box{width:100%;background:#FFF;margin-top:2rem;}
.form_box_info{border-bottom: 1px solid #dedede;padding:.36rem .36rem;color:#333333;font-family: PingFangSC, PingFan;display:flex;flex-direction:column;}
.form_input{border:0px;height:1.5rem;line-height:1.5rem;display:black;font-size:15px;border:none;outline: none;}
.form_input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}
.Required_box{display:flex;align-items:center;}
.option_box{width:100%;display:flex;flex-wrap:wrap;}
.select_item{width:4.5rem;height:1.3rem;line-height:1.3rem;border: 1px solid #276Ab8;margin-right:.5rem;margin-top:.3rem;color:#276Ab8;padding-left:.5rem;}
.select_item_not{width:4.5rem;height:1.3rem;line-height:1.3rem;border: 1px solid #979797;margin-right:.5rem;margin-top:.3rem;color:#979797;padding-left:.5rem;}
.my_textarea{height:3.5rem;border:none;font-size:15px;padding:.2rem 0;outline: none;color:#999999;font-family: PingFangSC, PingFan;font-weight: 400;}
.my_textarea:-webkit-autofill {box-shadow: 0 0 0px 1000px white inset !important;}
.count{text-align:right;color:#999999;}
.photo_button{width:2.5rem;height:2.5rem;border:1px solid #cccccc;margin-top:.2rem;text-align:center;line-height:2.5rem;}
.photo_button span{font-size:23px;color:#cccccc;}
.button_box{display:flex;justify-content:space-around;background:#FFF;margin-top:.7rem;}
.reporting{line-height:2rem;height: 2rem;width:8rem;text-align:center;color:#FFF;background:#2F6AB8;margin-right:.5rem;border-radius:5px;}
.do_it_yourself{line-height:2rem;height: 2rem;width: 8rem;text-align:center;color:#FFF;background:#42CB69;margin-left:.5rem;border-radius:5px;}