.my_title{width:100%;height:2rem;background:#457BF7;color:#FFF;line-height:2rem;text-align:center;font-size:17px;}
.select_box{width:100%;height:2rem;background:#FCFCFC;display:flex; align-content:center;justify-content:space-around;font-size:15px;border-bottom:0.5px solid #cccccc;}
.select_box div{height:2rem;line-height:2rem;}
.down_arrow{width:10px;}
.list_box{width:92%;height:3rem;display:flex;padding:10px 4%;align-items:center;justify-content:space-between;border-bottom:0.5px solid #e1e1e1;background:#FFF;}
.list_left{display:flex;flex-direction:column;}
.list_distance{height:100%;text-align:top;color:#2F6AB8;font-weight:500;padding-top:3px;}
.province{width:24px;height:24px;display:inline-block;background:#FF7000;text-align:center; line-height:24px;color:#FFF;border-radius:4px;font-family: PingFangSC, PingFa}
.province_name{font-size:18px;color:#333333;font-weight:700;margin-left:5px;}
.specific{margin-top:4px;display:inline-block;color:#666666;}
.select_box{position: relative;}
.DropDown{
        position:absolute;
        left: 0;
        top: 4rem;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.2);
        width:100%;
        height:calc(100% - 4rem);
        z-index:999;
        display:none;
    }
.level_box{width:100%;max-height:18rem;overflow:scroll;background:#FFF;border-top:0.5px solid #cccccc;display:none;}
.level_list{width:100%;height:2.2rem;line-height:2.2rem;text-align:center;border-bottom:0.5px solid #cccccc;}
.region_box{width:100%;height:14rem;overflow:scroll;background:#FFF;border-top:0.5px solid #cccccc;position:relative;z-index:99999999;}
.region_button{display:flex;justify-content:space-around;position:absolute;bottom:10px;left:0;width:100%;}
.reset{width:8.5rem;text-align:center;text-align:center;line-height:2rem;height:2rem;background:#f6f6f6;color:#999999;font-family: PingFangSC, PingFangSC-Medium;font-weight: 500;}
.determine{width:8.5rem;text-align:center;text-align:center;line-height:2rem;height:2rem;background:#457BF7;color:#fff;font-family: PingFangSC, PingFangSC-Medium;font-weight: 500;}
.region_info{display:flex;z-index:99999999;}
.one{width:33.3%;display:flex;flex-direction:column;max-height:12rem;overflow-x:auto;background: #ffffff;}
.one div{width:100%;text-align:center;border-bottom: 0.5px solid #e1e1e1;height:2rem;line-height:2rem;}
.two{width:33.3%;display:flex;flex-direction:column;max-height:12rem;overflow-x:auto;background:#fcfcfc;display:none;}
.two div{width:100%;text-align:center;border-bottom: 0.5px solid #e1e1e1;height:2rem;line-height:2rem;}
.three{width:33.3%;display:flex;flex-direction:column;max-height:12rem;overflow-x:auto;background: #f7f7f7;display:none;}
.three div{width:100%;text-align:center;border-bottom: 0.5px solid #e1e1e1;height:2rem;line-height:2rem;}
.my_box{overflow: hidden;}